[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
cachetools = "*"
certifi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
distlib = "*"
filelock = "*"
flask = "*"
flask-cors = "*"
flask-mail = "*"
fuzzywuzzy = "*"
google-ads = "*"
google-api-core = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-search-results = "*"
googleapis-common-protos = "*"
grpcio = "*"
grpcio-status = "*"
idna = "*"
importlib-metadata = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
numpy = "*"
oauthlib = "*"
pandas = "*"
pgeocode = "*"
pipenv = "*"
platformdirs = "*"
proto-plus = "*"
protobuf = "*"
pyasn1 = "*"
pyasn1-modules = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
six = "*"
tzdata = "*"
urllib3 = "*"
virtualenv = "*"
werkzeug = "*"
zipp = "*"

[dev-packages]

[requires]
python_version = "3.9"
